extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='')
          div.form-group
            label(for='name') Name:            
          
          textarea(rows=3).form-control.
            hoge
            fuga
            piyo
          button.btn.btn-primary(type='submit') Coucou
          textarea(rows=3).form-control.
            #{response}

